.btn {
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      padding: 1.5rem 4rem;
      border-radius: 10rem;
      transition: all 0.2s;
      position: relative;
    }
  
    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  
      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
  
    &:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 1rem 1rem rgba($color-black, 0.2);
    }
  
    &--white {
      background-color: white;
      color: $color-gray-light;
  
      &::after {
        background-color: $color-white;
      }
    }
  
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: 0.4s all;
    }
  
  
    &--animated {
      animation: moveUp ease-in-out 0.4s 1s;
      animation-fill-mode: backwards;
    }
  }